* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.btnBox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

button {
    width: 3em;
    height: 3em;
}